services:
  copy_to_stage:
    image: rclone/rclone:latest
    entrypoint: ["/bin/sh"]
    stdin_open: true
    tty: true
    environment:
      - TZ=${TZ}
      - SOURCE=${SOURCE}
    command:
      - -lc
      - |
        umask 077
        printf '%s\n' "$SOURCE" > /tmp/rclone.conf
        rclone --config /tmp/rclone.conf \
               move remote:/in /out \
               --exclude "/.*" \
               --exclude "**/.*" \
               --delete-empty-src-dirs \
               --progress
    volumes:
      - ${SOURCE_DIR}:/in
      - ${RUN_DIR}/copy_to_stage:/out

  crunch_media:
    image: ghcr.io/nashspence/vcrunch:next
    stdin_open: true
    tty: true
    environment:
      - TZ=${TZ}
    command: >
      --verbose --svt-lp 6
    volumes:
      - ${RUN_DIR}/copy_to_stage:/in
      - ${RUN_DIR}/crunch_media:/out

  make_iso:
    image: ghcr.io/nashspence/mkiso:next
    stdin_open: true
    tty: true
    environment:
      - TZ=${TZ}
    command: >
      --out-file ${ISO_NAME}
    volumes:
      - ${RUN_DIR}/crunch_media:/in
      - ${ISO_DIR}:/out

  cut_quick:
    image: ghcr.io/nashspence/qcut:next
    stdin_open: true
    tty: true
    environment:
      - TZ=${TZ}
    command: >
      --tp -24 --svt-lp 6
    volumes:
      - ${RUN_DIR}/copy_to_stage:/in
      - ${RUN_DIR}/cut_quick:/out

  sync_to_share:
    image: rclone/rclone:latest
    stdin_open: true
    tty: true
    entrypoint: ["/bin/sh"]
    environment:
      - TZ=${TZ}
      - UPLOAD=${UPLOAD}
    command:
      - -lc
      - |
        umask 077
        printf '%s\n' "$UPLOAD" > /tmp/rclone.conf
        rclone --config /tmp/rclone.conf \
               copy /data remote: \
               --exclude "/.*" \
               --exclude "**/.*" \
               --progress
    volumes:
      - ${RUN_DIR}/cut_quick:/data



